.btn-layers {
    /* position */
    position: relative;

    transition-duration: 250ms;

    /* min-height: 40px; */

    animation-name: move;
    animation-duration: 750ms;
    min-height: 35px;
    max-height: 60p;

    /* margin: 3px; */

}

.btn {
    font-family: 'Varela Round', sans-serif;
    bottom: 0;
    content: ””;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    color: rgb(87, 79, 81);
    /* max-height: 100px; */

    border-radius: 10px;
    /* transform: translateX(5px) translateY(5px); */
    box-shadow: 4px 4px 0 4px black;

    box-shadow: 4px 4px 0 4px var(--contrastColor);
    border: solid 2px var(--contrastColor);
    transition-duration: 250ms;
}


.btn-animate {
    animation-name: changeColor;
    animation-duration: 750ms;
    animation-fill-mode: both;

}

@keyframes changeColor {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes move {

    50% {
        transform: translateX(-10px) translateY(-10px);
    }
}


.btn-layers:hover {
    transform: translateX(-2px) translateY(-2px);
}


.btn-layers:active {
    transform: translate(7px) translateY(7px);
    box-shadow: none;

}

.btn-layers:active .btn  {
   box-shadow: none;
}

.btn-lg {
    padding: 10px 25px;
}