body {
  background: hsl(184, 100%, 86%);
}

.color-picker {
  display: flex;
  flex-direction: column;

  display: grid;
  grid-template-rows: minmax(100px, 400px) 1fr auto;
  height: 100vh;

}

.color-picked {
  background-color: hsl(var(--hue), var(--sat), var(--light));
  color: hsl(var(--hue), var(--sat), var(--light));

  font-family: 'Courgette', sans-serif;
  font-size: clamp(60px, 10vh, 100px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.color-picked:hover {
  color: hsla(var(--hue), var(--sat), var(--text-light), 25%);
}

.color-modifiers {
  /* fill content row */
  height: 100%;

  /* min/mod width */
  width: clamp(200px, 100%, 1200px);

  /* center horizontally */
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.color-picker-footer {
  /* flex: 1; */
  /* height: 10%; */

  font-family: 'Dhurjati', sans-serif;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  gap: 20px;
  padding: 10px;
}